.header__inner {
  padding-top: 30px;
  padding-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__nav-list {
  display: flex;
  align-items: center;
}

.header__nav-item + .header__nav-item {
  margin-left: 33px;
}

.header__nav-text {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.923077px;
  text-transform: uppercase;
  color: #83888F;
  transition: 0.3s;
}

.header__nav-text:hover {
  color: #333D4B; 
}

.header__button {
  display: none;
  border: none;
  background-color: transparent;
}

@media only screen and (max-width: 630px) {
  .header__logo-img {
    max-width: 200px; 
  }

  .header__nav-list {
    display: none;
  }

  .header__button {
    display: block;
  }
}

@media only screen and (max-width: 330px) {
  .header__logo-img {
    max-width: 180px;
  }
}