.hero__content {
  padding-top: 107px;
  padding-right: auto;
  padding-bottom: 156px;
  padding-left: 85px;
  background-image: url("../../img/Bitmap\ \(2\).jpg");
  background-repeat: no-repeat;
  box-sizing: 100%;
  border-radius: 15px;
}

.hero__aboute {
  padding-top: 100px;
  padding-bottom: 80px;
  padding-left: 50px;
  background-image: url("../../img/Bitmap.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
}

.hero__aboute-title {
  font-family: 'Fraunces 9pt';
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  line-height: 48px;
  color: #FEFCF7;
}

.hero__aboute-text {
  max-width: 445px;
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #FEFCF7;
  margin-bottom: 137px;
}

.hero__title {
  max-width: 493px;
  margin-bottom: 32px;
  font-family: "fraunces" sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 72px;
  color: #FEFCF7;
}

.hero__text {
  max-width: 445px;
  margin-bottom: 56px;
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #FEFCF7;
  mix-blend-mode: normal;
  opacity: 0.8;
}

.hero__button {
  background: #0E8784;
  border-radius: 6px;
  padding: 15px 31px;
  color: white;
}

.hero__button:hover {
  background: #66D2CF;
  border-radius: 6px;
}

@media only screen and (max-width: 1000px) {
  .hero__aboute {
    padding-top: 50px;
    padding-bottom: 80px;
    padding-left: 50px;
    background-image: url("../../img/Bitmap.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
  }
  
  .hero__aboute-title {
    font-family: 'Fraunces 9pt';
    font-style: normal;
    font-weight: 900;
    font-size: 30px;
    line-height: 38px;
    color: #FEFCF7;
  }
  
  .hero__aboute-text {
    max-width: 345px;
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 22px;
    color: #FEFCF7;
    margin-bottom: 137px;
  }
}

@media only screen and (max-width: 700px) {
  .hero__aboute {
    background-image: url("../../img/Bitmap.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
  }
  
  .hero__aboute-title {
    margin: 0;
    padding: 0;
    font-family: 'Fraunces 9pt';
    font-style: normal;
    font-weight: 900;
    font-size: 28px;
    line-height: 35px;
    color: #FEFCF7;
  }
  
  .hero__aboute-text {
    margin: 0;
    padding: 0;
    max-width: 245px;
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 18px;
    color: #FEFCF7;
    margin-bottom: 137px;
  }
}

@media only screen and (max-width: 645px) {
  .hero__content {
  padding-top: 20px;
  padding-right: auto;
  padding-bottom: 116px;
  padding-left: 58px;
  background-image: url("../../img/Bitmap\ \(3\).jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: bottom top;
  border-radius: 10px;
}

 .hero__title {
  max-width: 329px;
  margin-bottom: 24px;;
  font-size: 48px;
  line-height: 48px;
}

.hero__text {
  max-width: 398px;
  margin-bottom: 40px;
  font-size: 15px;
  line-height: 25px;
}
}

@media only screen and (max-width: 500px) {
  .hero__aboute {
    padding-top: 0px;
    padding-bottom: 50px;
    background-image: url("../../img/Bitmap.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    text-align: center;
  }
  
  .hero__aboute-title {
    text-align: center;
    font-family: 'Fraunces 9pt';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    color: #FEFCF7;
  }
  
  .hero__aboute-text {
    text-align: center;
    max-width: 145px;
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 200;
    font-size: 8px;
    line-height: 10px;
    color: #FEFCF7;
    margin-left: auto;
    margin-right: auto;
  }
}



@media only screen and (max-width: 485px) {
  .hero__content {
  padding-top: 50px;
  padding-right: 55px;
  padding-bottom: 90px;
  padding-left: 55px;
  text-align: center;
  background-image: url("../../img/Bitmap\ \(4\).jpg");
  background-repeat: no-repeat;
  border-radius: 10px;
}

  .hero__title {
  max-width: 279px;
  font-weight: 900;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  }
  
  .hero__text {
    max-width: 279px;
    margin-bottom: 40px;
    font-size: 15px;
    line-height: 25px;
    text-align: center;
    mix-blend-mode: normal;
    opacity: 0.8
  }
}

@media only screen and (max-width: 375px) {
  .hero__content {
  padding-top: 30px;
  padding-bottom: 70px;
  text-align: center;
  background-image: url("../../img/Bitmap\ \(4\).jpg");
  background-repeat: no-repeat;
  border-radius: 8px;
  padding-left: auto;
  padding-right: auto;
}

  .hero__title {
  max-width: 229px;
  font-weight: 900;
  font-size: 30px;
  line-height: 30px;
  margin-right: 50px;
  }
  
  .hero__text {
    max-width: 229px;
    margin-bottom: 30px;
    font-size: 10px;
    line-height: 18px;
    text-align: center;
    mix-blend-mode: normal;
    opacity: 0.8
  }

  .hero__button {
    background: #0E8784;
    border-radius: 6px;
    padding: 10px 21px;
    color: white;
  }
}